.login {
  background-color: #000000;
  display: grid;
  place-items: center;
  height: 100vh;
}

.logo {
  width: 100%;
}


.button__redirect {
  text-decoration: none;
  padding: 20px 10px;
  background-color: #1db954;
  border-radius: 99px;
  font-weight: 800;
  color: #fff
}
