.songRow {
  margin-left: 20px;
  padding: 20px;
  align-items: center;
  z-index: 100;
  color: white;
  margin-bottom: 5px; display: flex;
  text-align: left;
}

.songRow:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
}

.songRow__info {
  margin-left: 20px;
}

.songRow__info >h1 {
  font-size: 16px;
}

.songRow__info > p {
  font-size: 14px;
  margin-top: 3px;
  color: grey;
}

.songRow__album {
  height: 40px;
  width: 40px;
}

.songRow__layout {
  display: flex;
  margin-left: 30px;
  /* margin-bottom: 10px; */
  text-align: left;
}